<div class="container  mx-auto my-16">
    <div class="grid grid-cols-2 gap-5">
        <div class="shadow-lg border-2 border-gray-900">
            <img [src]="siteUrlImg" alt="" class="h-2/3 w-full object-cover">
            <h3 class="text-xl font-bold p-3">{{ siteName }}</h3>
            <div class="grid grid-cols-3 gap-3 my-1 p-3 items-start">
                <div class="cols-span-2 px-3 bg-blue-200 text-blue-800 rounded-lg text-sm">
                    {{ siteUrl }}
                </div>
            </div>


        </div>

        <div class="px-20 py-10 mb-10 my-5 border-4 border-gray-900">
            <h2 class="text-3xl text-center "> {{formState| titlecase }} User & Password </h2>
            <p class="text-center"> You can {{formState | lowercase}} user & password from below form </p>
            <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" action="">
                <div class="flex flex-col">
                    <label for="emal" class="text-lg font-medium mb-2">Email</label>
                    <input [(ngModel)]="accountEmail" type="email" name="email"
                        class="border-2 border-gray-900 p-2 rounded-lg focus:outline-2 focus:outline">
                </div>
                <div class="flex flex-col">
                    <label for="username" class="text-lg font-medium mb-2">Username</label>
                    <input [(ngModel)]="accountUsername" type="text" name="username"
                        class="border-2 border-gray-900 p-2 rounded-lg focus:outline-2 focus:outline">
                </div>
                <div class="flex flex-col">
                    <label for="password" class="text-lg font-medium mb-2 ">Password</label>
                    <div
                        class="border-2 border-gray-900 p-2 rounded-lg focus-within:outline-2 focus-within:outline flex align-middle">
                        <input [(ngModel)]="accountPassword" type="{{ showPassword ? 'text' : 'password' }}"
                            name="password" class="focus:outline-none w-full">
                        <div (click)="passwordViewToggle()" >
                            <span class="material-symbols-outlined align-middle">
                                {{ showPassword ? 'visibility' : 'visibility_off' }}
                            </span>
                        </div>
                    </div>
                </div>

                <button class="mt-10 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md">{{ formState }}
                    Password</button>
            </form>
        </div>
    </div>

    <div class="grid grid-cols-1 mt-10">
        <table class="border-2 border-gray-900 table-fixed">
            <thead>
                <tr class="bg-gray-200 p-52 h-14 text-left">
                    <th class="border-2 p-3 border-gray-900 w-1/4">Username</th>
                    <th class="border-2 p-3 border-gray-900 w-1/4">Email</th>
                    <th class="border-2 p-3 border-gray-900 w-1/4">Password</th>
                    <th class="border-2 p-3 border-gray-900 w-1/4">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="h-14" *ngFor="let password of passwordList">
                    <td class="border-2 p-3 border-gray-900 w-1/4">{{password.username}}</td>
                    <td class="border-2 p-3 border-gray-900 w-1/4">{{password.email}}</td>
                    <td class="border-2 p-3 border-gray-900 w-1/4 ">
                        <div class="grid-rows-1 grid grid-cols-3 w-full">
                            <span class="overflow-hidden relative col-span-2"><div class="absolute w-full h-full bg-gradient-to-r from-transparent from-80% to-white"></div>{{password.password}}</span>
                            <span class="text-end"><button (click)="onDecrypt(password)"
                                    class="mx-0.5 px-5 py-2 text-sm  text-white rounded-md shadow"
                                    [ngClass]="password.toggleonDecrypt ? 'bg-red-600' :'bg-green-600'">
                                    {{password.toggleonDecrypt ?'Decrypt':'Encrypt'}} </button></span>
                        </div>
                    </td>
                    <td class="border-2 p-3 border-gray-900 w-1/4">
                        <button
                            (click)="editPassword(password)"
                            class="mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md">
                            Edit
                        </button>
                        <button (click)="deletePassword(password.id)"
                            class="mx-0.5 px-5 py-3 text-sm border-2 border-gray-900 bg- shadow rounded-md">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>