<div class="container mx-auto my-16">
    <h1 class="text-5xl mt-0 mb-5">Maulword Password Manager</h1>
    <p class="mb-5">Meira cantik banget apalagi sekarang sudah mau lulus dia keren banget gimana ya aku bisa ketemu dia lagi padahla aku sudah sangat rindu</p>
    <button class="mb5 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded">
        Add New Site
    </button>

    <!-- Add new site form --> 
    <div class="px-20 py-10 my-5 border-4 border-gray-900">
        <h2 class="text-3xl text-center"> Add New Site </h2>
        <p class="text-center">You can add a new site from the below form</p>
        <form >
            <div class="flex flex-col">
                <label for="" class="text-lg font-medium mb-2"> Site Name </label>
                <input type="text" name="siteName" class="border-2 border-gray-900 p-2 rounded-lg w-full">
            </div>

            <div class="flex flex-col">
                <label for="" class="text-lg font-medium mb-2"> Site URL </label>
                <input type="text" name="siteUrl" class="border-2 border-gray-900 p-2 rounded-lg w-full">
            </div>

            <div class="flex flex-col">
                <label for="" class="text-lg font-medium mb-2"> Site Image URL </label>
                <input type="text" name="siteImgUrl" class="border-2 border-gray-900 p-2 rounded-lg w-full">
            </div>

            <button class="mt-10 mx-0.5 px-5 py-3 text-sm border-2 border-gray-900 bg-gray-900 text-white shadow rounded-md"> Add New Site </button>

            <button class="mt-10 mx-0.5 px-5 py-3 text-sm border-2 border-gray-900 text-gray-900 shadow rounded-md"> Cancel </button>
        </form>
    </div>

    <div class="grid grid-cols-4 gap-5">
        <div class="shadow-lg border-2 border-gray-900">
            <img src="https://img.okezone.com/okz/500/content/2021/03/18/16/2379663/ingin-download-video-di-linkedin-gunakan-cara-ini-Cz4NtGjiZR.jpg" alt="linkedin image">
            <h3 class="p-3 text-xl font-bold">Linkedin.com</h3>
            <div class="w-60 m-3 px-3 bg-blue-300 text-blue-800 rounded-lg text-sm"> https://www.linkedin.com </div>

            <button class="my-3 ml-3 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md"> Add New Password </button>

            <button class="my-3 mx-0.5 px-5 py-3 text-sm border-2 border-gray-900 text-gray-900 shadow rounded-md"> Edit </button>

            <button class="my-3 mx-0.5 px-5 py-3 text-sm border-2 border-gray-900 text-gray-900 shadow rounded-md"> Delete </button>
        </div>
    </div>
</div>
